<!doctype html>
<html lang="en">
  <!-- gif加载动画 -->
<!-- 要等到ajax请求获取数据后再渲染页面的请参考下面文档
https://blog.csdn.net/weixin_45966674/article/details/103476074 -->
<!-- 其他不需要通讯的情况参考下面这个用js写的文档：
  http://www.taodudu.cc/news/show-6322082.html?action=onClick -->
<div id = "loadgif" style="display:flex">
  <img src = "static\加载动画.gif"/>
</div>

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/common/icons/favicons/igem-2022.svg"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">

    <title>{% block title %}{% endblock %} | SJTU-software - iGEM 2023</title>

</head>
<body>
  <!-- Navigation -->
  {% include 'menu.html' %}

   <!-- Header 总体的-->
   <header class="{{self.bg()}} py-5 mb-5" style="text-align: center; margin-top: 15px; max-width: none ;">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <img src="{{self.img_url()}}" class="{{self.img_class()}}"/>
          <h1 class="display-3 mt-1 mb-5" style="color: #4a2704d7; font-family: 'Font_2'; font-size: 70px;">{{ self.title() }}</h1>
	        <p class="lead mb-5 " style="color: rgb(110, 68, 15); font-family: 'Font_6'; font-size: 30px;">{% block lead %}{% endblock %}</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">
    {% block page_content %}{% endblock %}
  </div>

  <!-- Footer: MUST mention license AND have a link to team wiki's repository on gitlab.igem.org -->
  {% include 'footer.html' %}

  <!-- Bootstrap Bundle with Popper -->
  <script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>
  <script type="text/javascript">
    document.onreadystatechange=loading;
    function loading(){
      var loadimg = document.getElementById("loadgif");
      var content = document.getElementsByClassName("container");
      var header = document.getElementsByClassName("bg-hero py-5 mb-5")
      var footer = document.getElementsByClassName("pt-5 pb-5 footer py-5 mt-5 bg-dark text-white")
      if (document.readyState == "complete") //判断页面加载状态 
      {
        setTimeout(() => {
          loadimg.style.display = "none"
          content.style.display = "block"
          header.style.display = "block"
          footer.style.display = "block"
        }, 100);
      }else{
        loadimg.style.display = "flex"
        content.style.display = "none"
        content.style.display = "none"
        content.style.display = "none"
      }
    }
  </script>
</body>
</html>
