{% extends "layout.html" %}
{% block bg %}bg1{% endblock %}
{% block img_class %}custom-image-class1{% endblock %}
{% block img_url %}https://static.igem.wiki/teams/4589/wiki/home.png{% endblock %} 

{% block page_content %} 
<br><br><br><br><br><br><br><br><br><br><br><br>
<div class="wow shake" data-wow-duration="2s" data-wow-offset="100">
  <div class="container-fliuid" style="left: 10px;">
      <h1 class="haveyounoticed hiddenhowever s1 showhowever" class="wow.ani ">Have you noticed?</h1>
  </div>
</div>
<br>
<hr style="border: 4px solid #0e4c8f; width: 80%; margin: 0 auto;">
<br><br><br><br><br><br><br><br><br><br>
<div class="col-11 wow wow bounceIn" data-wow-duration="2s" data-wow-offset="150" style="margin-left: 8%;">
    <p>
      COVID-19: <p>A Wake-Up Call for Precision Disease Detection</p>
    </p>
</div>
<br><br><br><br><br><br><br><br><br>



 
  <!-- 添加文本 -->
  <div class="image-with-text0"  >
    <img src="https://static.igem.wiki/teams/4589/wiki/homeback1.png" style="width: 100%; max-width: none; justify-content: center; overflow: hidden; filter:hue-rotate(50deg); filter: brightness(150%) contrast(105%) saturate(50%)">
    <div class="image-text wow pulse" style="margin-left: 9%;" data-wow-offset="280">
      Since the outbreak in 2019,<br>
     <strong>COVID-19</strong> has caused a large number of deaths worldwide,<br>
      regardless of each country's economic situation.
    </div>
    <div class="card deathamount2 ani wow slideInLeft" data-wow-offset="100"id="deathamount2">
      <div class="card-body">
        <div class="item" id="American">
          <div class="row death-text" >
            <div class="col-md-8" >American</div>
            <span class="col-md-4 death-count" style="text-align: right;">0</span>
          </div>
          <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-warning death-progress" style="width: 0%"></div>
          </div>
        </div>
        <div class="item" id="Europe">
          <div class="row death-text">
            <div class="col-md-8" >Europe</div>
            <span class="col-md-4 death-count" style="text-align: right;">0</span>
          </div>
          <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success death-progress" style="width: 0%"></div>
          </div>
        </div>
        <div class="item" id="South-East Asia">
          <div class="row death-text">
            <div class="col-md-8" >South-East Asia</div>
            <span class="col-md-4 death-count" style="text-align: right;">0</span>
          </div>
          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar death-progress" style="width: 0%"></div>
          </div>
        </div>
        <div class="item" id="Western">
          <div class="row death-text">
            <div class="col-md-8" >Western Pacific</div>
            <span class="col-md-4 death-count" style="text-align: right;">0</span>
          </div>
          <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-danger death-progress" style="width: 0%"></div>
          </div>
        </div>
        <br />
      </div>
    </div>
    <img src="https://static.igem.wiki/teams/4589/wiki/pics/globaldeath3.png" class="deathamount1 wow slideInRight" data-wow-offset="100">
    <!-- <img src="https://static.igem.wiki/teams/4589/wiki/deathamount2.png" class="deathamount2"> -->
  </div>

  <div class="image-with-text" >
    <div class="image-text1 wow slideInRight" data-wow-offset="350" style="text-align: right;">
      Being <strong>highly contagious</strong> in human society,<br>
      COVID-19 has served as a stark reminder of the paramount<br>
      importance of <strong>precise</strong> and <strong>rapid</strong> disease detection.
    </div>
    <div class="image-text2 wow fadeIn" style="text-align: right;">
     PRECISE&ensp;&ensp;RAPID
    </div>
    <div class="image-text3 wow slideInLeft" data-wow-offset="350" style="text-align: left;">
      Without a reliable disease detection approach,<br>
      It's unimaginable how a similar epidemics will<br>
      have an impact on society next time.
    </div>
    <img src="https://static.igem.wiki/teams/4589/wiki/virus1.png" class="img-virus1">
  </div>

  <div class="image-with-text1" >
    <div class="image-text4 wow bounceIn"  data-wow-offset="300" style="text-align: center;">
      AGO
    </div>
    <br>
    <div class="image-text5 wow slideInUp" data-wow-offset="300" style="text-align: center;">
      AGO Proteins:<br>
The Key to Timely Disease Intervention
    </div>
    <div class="image-text6 wow slideInUp" data-wow-offset="300" style="text-align: center;">
      CRISPR systems struggle in <br>
precise and rapid detection as they are bulky,<br>
not sensitive enough, <br>
and rely on specific PAM sequences.<br>
    </div>
    <div class="image-text7 wow bounceIn"data-wow-offset="300" style="text-align: center;">
    In contrast,
    </div>
    <div class="image-text8 wow bounceIn"data-wow-offset="330" data-wow-duration="2s" style="text-align: center;">
      Agronaute (AGO) Proteins
    </div>
    <div class="ago wow rotateIn" data-wow-offset="330" data-wow-duration="1s" style="text-align: center;">
      <img src="https://static.igem.wiki/teams/4589/wiki/ago.jpg" style="width: 100%; height: 300px; bottom: 0; " >
    </div>
  </div>

  <div class="image-with-text2"  >
    <div class="image-text9 wow slideInUp" data-wow-duration="1.5s" data-wow-offset="250" style="text-align: center;">
      efficiently recognize and cleave both DNA and RNA,<br>
making them ideal for nucleic acid sensing<br>
platforms and virus detection.
    </div>
    <div class="image-text10 wow fadeIn" style="text-align: right;" data-wow-offset="200">
      Nucleic Acid Sensing Platforms<br>
      Virus Detection
    </div>
    <div class="virus1" style="text-align: center;">
      <img src="https://static.igem.wiki/teams/4589/wiki/virus1.png" style=" height: 160px; bottom: 0; " >
    </div>
    <div class="virus2" style="text-align: center;">
      <img src="https://static.igem.wiki/teams/4589/wiki/virus2.png" style=" height: 270px; bottom: 0; " >
    </div>
    <div class="image-text11 wow bounceIn" data-wow-offset="350" data-wow-duration="2s"  style="text-align: center;">
      However
    </div>
    <div class="image-text12 wow slideInUp" data-wow-offset="300" data-wow-duration="1s" style="text-align: center;">
      most AGO proteins<br>
suffer from <strong>thermal instability</strong>  
    </div>
    <div class="problem wow fadeIn" data-wow-offset="300" data-wow-duration="1.2s" style="text-align: center;">
      <img src="https://static.igem.wiki/teams/4589/wiki/probelm.png" style=" height: 400px; bottom: 0; " >
    </div>
  </div>

  <div class="image-with-text3"  >
    <div class="image-text13 wow slideInUp" data-wow-offset="300" style="text-align: center;">
      leading to unreliable results <br>
limited biotechnological applications
    </div>
    <div class="image-text14 wow tada"  data-wow-offset="400" data-wow-duration="2s" style="text-align: center;">
      Starting from now, don't worry! <br>
      Darwins has arrived!
    </div>
    <img src="https://static.igem.wiki/teams/4589/wiki/pics/ip11.png" class="ip11 wow bounce" data-wow-duration="2s" data-wow-iteration="infinite">
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="image-text15 wow rubberBand" data-wow-offset="400" data-wow-duration="3s" style="text-align: center;">
       Darwins
    </div>
    <div class="image-text16 wow slideInUp"  data-wow-offset="250"style="text-align: center;">
      Directed Ago Renewal With Ideal proteiN thermal-Stability
   </div>
   <div class="image-text17 wow slideInUp" data-wow-offset="250"  style="text-align: center;">
    A user-friendly software<br>
    revolutionizing AGO Proteins
   </div>
  </div>
    
  <div class="image-with-text4"  >
    <div class="image-text18 wow slideInLeft" data-wow-offset="300" style="text-align: left;">
      DARWINS can predict protein <br>
thermal stability accurately with<br>
<strong>just the protein sequence </strong> as input, <br>
reducing prediction time,
    </div>
    <img src="https://static.igem.wiki/teams/4589/wiki/pics/ip333.png" class="ip333 wow shake" data-wow-duration="4s" data-wow-iteration="infinite">
    <div class="image-text19 wow slideInRight" data-wow-offset="400" style="text-align: right;">
      to facilitate development of AGO with<br>
high thermal stability, thus promoting<br>
a new virus detection system.<br>
    </div>
    <img src="https://static.igem.wiki/teams/4589/wiki/pics/tm.png" class="sequence">
  </div>

  <div class="image-with-text5"  >
    <div class="image-text20 wow slideInUp" data-wow-offset="300" style="text-align: center;">
      A Brighter Future
    </div>
    <div class="image-text21 wow heartBeat" data-wow-offset="400" style="text-align: center;">
      DARWINS: A Promising Step
    </div>
    <div class="image-text22 wow slideInUp" data-wow-offset="300" style="text-align: center; line-height: 1.7;">
      Moreover, our software is designed for diverse proteins,<br>
       as our method being promoted widely with the help of our software,<br>
    researchers worldwide are empowered to assess <br>
    the thermal stability of any protein.<br>
    </div>
  </div>

  <div class="image-with-text6"  >
    <img src="https://static.igem.wiki/teams/4589/wiki/ending.png" style="width: 100%; height: 100%; max-width: none; justify-content: center; overflow: hidden; align-items: center;">
    <div class="image-text23 wow slideInUp" data-wow-offset="300" style="align-items: center; text-align: center;">
      FAST
      <br>
      ACCURATE
      <br>
      USER-FRIENDLY
    </div>
  </div>
  
  
<script>

  // 获取所有需要动画的元素
new WOW().init();
const elementsToAnimate = document.querySelectorAll('.ani');

// 检测页面滚动事件
window.addEventListener('scroll', () => {
  elementsToAnimate.forEach((element) => {
    // 获取元素的位置信息
    const rect = element.getBoundingClientRect();
    const windowHeight = window.innerHeight || document.documentElement.clientHeight;

    // 如果元素进入可视区域
    if (rect.top < windowHeight && rect.bottom >= 0) {
      if (element.id == "deathamount2") {
        const items = element.querySelectorAll('.item')
        items.forEach((item) => {
          // 获取元素内的数字和进度条
          const deathCount = item.querySelector('.death-count');
          const deathProgress = item.querySelector('.death-progress');
          var finalCount = 0;
          var pwidth =0;
          if(item.id=="American"){
            finalCount=2959671;
            pwidth = 80;
          }
          if(item.id=="Europe"){
            finalCount=2250083;
            pwidth=61;
          }
          if(item.id=="South-East Asia"){
            finalCount=806783;
            pwidth=22;
          }
          if(item.id=="Western"){
            finalCount=417306;
            pwidth=12;
          }
          const animationDuration = 4000; // 2秒

          // 计算每一帧的增量
          const increment = finalCount / (animationDuration / 16); // 16毫秒为一帧
          // 创建一个计时器来更新数字和进度条
          let currentCount = 0;
          const timer = setInterval(() => {
            if (currentCount <= finalCount&&deathCount.textContent<finalCount) {
              deathCount.textContent = Math.round(currentCount);
              deathProgress.style.width = (currentCount / finalCount) * pwidth + '%';
              currentCount += increment;
            } else {
              clearInterval(timer);
            }
          }, 16);
        })
      }
    }
  });
});
</script>

<style>
/* 一些动画效果css start */
  @keyframes rolling{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
/* 一些动画效果css end */

  .col-11 p{
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(83,127,185);
    font-weight: bold;
  }
  
   .container{
    border: 0;
    padding:0;
    margin-left: 0;
    max-width: none;
   }




   .pt-5{
    margin-top: 0!important;
   }
  .pb-5{
    margin-bottom: 0!important;
  }

   .image-with-text0 {
    height: 900px;
    background: linear-gradient( to bottom, rgb(255, 255, 255)fffff 50%, rgb(140, 195, 250) 100%);
    width: 100%;
    margin-right: 0!important;
    display: flex;
    justify-content: center;
    /* 垂直居中图片和文字 */
    position: relative;
  }

   .ago{
    position: absolute;
     top: 81%;
     margin-bottom: 0;
   }


   .virus2 {
    position: absolute;
    top:31%;
    left: 26%;
    animation: rolling 5s linear infinite;
   }

   .virus1{
    position:absolute;
    top:29%;
    left:7%;
    animation: rolling 5s linear infinite;
   }

   .problem{
    position:absolute;
    top:78%;
   }


   .img-virus1{
    width: 23%;
    top:67%;
    left: 75%;
    position:absolute;
    z-index: 999;
    animation: rolling 5s linear infinite;
   }

  .deathamount1{
    width:50%;
    position: absolute;
    top:48%;
    left:47%;
    z-index: 1000;
    filter: brightness(100%);
  }

  .deathamount2{
    width:32%;
    position: absolute;
    top:40%;
    left:9%;
    z-index: 1000;
    filter: brightness(100%);
  }


   .ip11{
    width: 15%;
    position: absolute;
    top:40%;
    z-index: 999;
    left:75%;
   }

   .ip333{
    width: 18%;
    position: absolute;
    top:0;
    z-index: 999;
    left:70%;
   }

   
   .sequence{
    width: 39%;
    position: absolute;
    top:40%;
    z-index: 998;
    left:5%;
  
   }



  .image-with-text {
    height: 600px;
    background: linear-gradient( to bottom, rgb(255, 255, 255) 0%,  rgb(63, 107, 164) 50%, rgb(2, 34, 77) 100%);
    width: 100%;
    margin-right: 0!important;
    display: flex;
    justify-content: center;
    align-items: center; /* 垂直居中图片和文字 */
    position: relative;
  }
  
  .image-with-text1 {
    background: linear-gradient( to bottom, rgb(2,34,77) 0%, rgb(2,34,77) 23%, rgb(63, 107, 164) 45%, #ffffff 70%, rgb(255, 255, 255) 100%);
    width: 100%;
    height: 1500px;
    margin-right: 0!important;
    display: flex;
    justify-content: center;
   /* 垂直居中图片和文字 */
    position: relative;
  }

  .image-with-text2 {
    background: linear-gradient( to bottom, rgb(255, 255, 255) 0%, #ffffff 20%, rgb(47, 101, 172) 45%, rgb(2, 34, 77) 100%);
    width: 100%;
    height: 1800px;
    margin-right: 0!important;
    display: flex;
    justify-content: center;
   /* 垂直居中图片和文字 */
    position: relative;
  }
  
  .image-with-text3 {
    background: linear-gradient( to top, rgb(255, 255, 255) 0%, #ffffff 40%, rgb(47, 101, 172) 70%, rgb(2, 34, 77) 100%);
    width: 100%;
    height: 1700px;
    margin-right: 0!important;
    display: flex;
    justify-content: center;
   /* 垂直居中图片和文字 */
    position: relative;
  }
  

  .image-with-text4 {
    background-color: white;
    height: 800px;
    width: 100%;
    margin-right: 0!important;
    display: flex;
    justify-content: center;
    /* 垂直居中图片和文字 */
    position: relative;
  }

  .image-with-text5 {
    height: 800px;
    background: linear-gradient( to bottom, rgb(255, 255, 255) 0%, #ffffff 60%, #74b8f8 100%);
    width: 100%;
    margin-right: 0!important;
    display: flex;
    justify-content: center;
    /* 垂直居中图片和文字 */
    position: relative;
  }


  .image-with-text6 {
    height: 800px;
    width: 100%;
    background: linear-gradient( to top, transparent 0%, #ffffff 70%,#9bc9f5 90%, #74b8f8 100% );
    margin-right: 0!important;
    display: flex;
    justify-content: center;
 
    /* 垂直居中图片和文字 */
    position: relative;
  }

  .image-with-text6 img{
    z-index: -1;
    display: block;
    top:30%
  }

  .image-with-text img {
    max-width: none;
    display: block;
  }

  /* 设置文本样式 */
  .image-text {
    position: absolute;
    top: 5%;
    left: 0%;
    font-size: 38px;
    font-weight:600;
    color: rgb(86, 47, 3);
    background:transparent; /* 背景颜色，半透明黑色 */
    padding: 10px;
    z-index: 999;
    font-family:Arial, Helvetica, sans-serif
  }
  
  .image-text1 {
    position: absolute;
    top:1%;
    left: 20%;
    font-weight: 600;
    font-size: 38px;
    color: rgb(87, 48, 2);
    background:transparent; /* 背景颜色，半透明黑色 */
    padding: 10px;
    z-index: 999;
    font-family:Arial, Helvetica, sans-serif
  }

  .image-text2 {
    position: absolute;
    top:25%;
    left: 29%;
    font-size: 90px;
    font-weight:900;
    color: rgba(255, 255, 255, 0.505);
    background:transparent; /* 背景颜色，半透明黑色 */
    padding: 10px;
    z-index: 995;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow:  2px 4px rgba(75, 99, 159, 0.598);
    font-style:italic;
  }

  .image-text3 {
    position: absolute;
    top:63%;
    left: 10%;
    font-size: 30px;
    font-weight:700;
    color: rgba(218, 231, 249, 0.916);
    text-shadow: 2px 2px 2px #6698ca ;
    background:transparent; /* 背景颜色，半透明黑色 */
    padding: 10px;
    z-index: 999;
    font-family:Arial, Helvetica, sans-serif;
  
  }

  .image-text4 {
    position: absolute;
    top:3%;
    font-size: 133px;
    font-weight:700;
    color:#ffffff;
    background:transparent; /* 背景颜色，半透明黑色 */
    padding: 10px;
    z-index: 999;
    text-shadow: 2px 2px 2px #90c3f5;
    font-family:Arial, Helvetica, sans-serif;
  
  }

  .image-text5 {
    top:19%;
    position: absolute;
    font-size: 45px;
    font-weight:600;
    color:#ffffffd3;
    background:transparent; /* 背景颜色，半透明黑色 */
    padding: 10px;
    z-index: 999;
    font-family:Arial, Helvetica, sans-serif;
  
  }

  .image-text6 {
    top:37%;
    position: absolute;
    font-size: 40px;
    font-weight:600;
    color:#fdffffb0;
    background:transparent; /* 背景颜色，半透明黑色 */
    padding: 10px;
    z-index: 999;
    font-family:Arial, Helvetica, sans-serif;
  
  }

  .image-text7 {
    top:62%;
    position: absolute;
    font-size: 53px;
    font-weight:600;
    color:#545555;
    background:transparent; /* 背景颜色，半透明黑色 */
    padding: 10px;
    z-index: 999;
    font-family:Arial, Helvetica, sans-serif;
  }


  .image-text8 {
    top:70%;
    position: absolute;
    font-size: 70px;
    font-weight:600;
    color:#254ca5;
    background:transparent; /* 背景颜色，半透明黑色 */
    padding: 10px;
    z-index: 999;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 4px 4px 4px #9ac9f8;
  }

  

  .image-text9 {
    top:6%;
    position: absolute;
    font-size: 35px;
    font-weight:600;
    color:#3b1605;
    background:transparent; /* 背景颜色，半透明黑色 */
    padding: 10px;
    z-index: 999;
    font-family:Arial, Helvetica, sans-serif;
  }

  .image-text10 {
    top:20%;
    left: 14%;
    position: absolute;
    font-size: 65px;
    font-weight:900;
    color:#6ffbf4cf;
    background:transparent; /* 背景颜色，半透明黑色 */
    padding: 10px;
    z-index: 999;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 6px 6px 6px #929394b7;
    font-style: italic;
  }


  .image-text11 {
    top:52%;
    position: absolute;
    font-size: 100px;
    font-weight:900;
    color:hsla(0, 0%, 100%, 0.988);
    background:transparent; /* 背景颜色，半透明黑色 */
    padding: 20px;
    z-index: 999;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 6px 6px 6px #b9bbbcc7;
  }

  .image-text12 {
    top:67%;
    position: absolute;
    font-size: 55px;
    font-weight:530;
    color:hsla(0, 0%, 100%, 0.988);
    background:transparent; /* 背景颜色，半透明黑色 */
    padding: 20px;
    z-index: 999;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(186, 228, 249);
  }

  .image-text13 {
    top:2%;
    position: absolute;
    font-size: 55px;
    font-weight:530;
    color:hsla(0, 0%, 100%, 0.988);
    background:transparent; /* 背景颜色，半透明黑色 */
    padding: 20px;
    z-index: 999;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgb(186, 228, 249);
  }

  .image-text14 {
    top:25%;
    position: absolute;
    font-size: 70px;
    font-weight:570;
    color:hsl(0, 0%, 100%);
    background:transparent; /* 背景颜色，半透明黑色 */
    padding: 10px;
    z-index: 999;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: -3px -3px 3px rgb(2, 26, 103), 3px -3px 3px rgb(2, 26, 103), -3px 3px 3px rgb(2, 26, 103), 3px 3px 3px rgb(2, 26, 103);
  }

  .image-text15 {
    top:48%;
    position: absolute;
    font-size: 120px;
    font-weight:700;
    color:rgb(3, 28, 110);
    background:transparent; /* 背景颜色，半透明黑色 */
    padding: 10px;
    z-index: 999;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: -3px -3px 3px rgb(255, 255, 255), 3px -3px 3px white, -3px 3px 3px white, 3px 3px 3px white;
  }

  .image-text16 {
    top:59%;
    position: absolute;
    font-size: 65px;
    font-weight:600;
    color:rgb(100, 130, 228);
    background:transparent; /* 背景颜色，半透明黑色 */
    padding: 10px;
    z-index: 999;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 4px 4px 4px #c0c1c3b7;
    font-style: italic;
  }

  .image-text17 {
    top:80%;
    position: absolute;
    font-size: 60px;
    font-weight:600;
    color:#23479a;
    background:transparent; /* 背景颜色，半透明黑色 */
    padding: 10px;
    z-index: 999;
    font-family:Arial, Helvetica, sans-serif;
  }

  .image-text18 {
    left: 5%;
    top:0%;
    position: absolute;
    font-size: 36px;
    font-weight:600;
    color:hsl(22, 84%, 15%);
    background:transparent; /* 背景颜色，半透明黑色 */
    padding: 10px;
    z-index: 999;
    font-family:Arial, Helvetica, sans-serif;
  }

  .image-text19 {
    left: 45%;
    top:54%;
    position: absolute;
    font-size: 36px;
    font-weight:600;
    color:hsl(22, 84%, 15%);
    background:transparent; /* 背景颜色，半透明黑色 */
    padding: 10px;
    z-index: 999;
    font-family:Arial, Helvetica, sans-serif;
  }

  .image-text20 {
    top:4%;
    position: absolute;
    font-size: 105px;
    font-weight:700;
    color:hsl(0, 0%, 100%);
    background:transparent; /* 背景颜色，半透明黑色 */
    padding: 10px;
    z-index: 999;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: -3px -3px 3px rgb(3, 35, 142), 3px -3px 3px rgb(3, 35, 142), -3px 3px 3px rgb(3, 35, 142), 3px 3px 3px rgb(3, 35, 142);
  }


  .image-text21 {
    top:34%;
    position: absolute;
    font-size:67px;
    font-weight:700;
    color:rgb(3, 35, 142);
    background:transparent; /* 背景颜色，半透明黑色 */
    padding: 10px;
    z-index: 999;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 4px 4px 4px #c0c1c3b7;

  }

  .image-text22 {
    top:63%;
    position: absolute;
    font-size: 33px;
    font-weight:700;
    color:hsl(22, 84%, 15%);
    background:transparent; 
    padding: 10px;
    z-index: 999;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 4px 4px 4px #c0c1c3b7;
  }

  .image-text23 {
    top:30%;
    position: absolute;
    font-size: 92px;
    font-weight:700;
    color:hsl(227, 86%, 25%);
    background:transparent; 
    padding: 10px;
    z-index: 999;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 6px 6px 6px #767677b7;
  }
  .death-text {
    font-size: 20px;
    font-weight:600;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:7px;
    padding-bottom: 7px;
  }
  .death-text1 {
    font-size: 10px;
    font-weight:300;
    text-align: right;
    font-family:Arial, Helvetica, sans-serif
  }



  .haveyounoticed {
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    color: #0c4f96;
    font-size: 90px!important;
}

.showhowever {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}


.s1 {
    text-shadow: 2px 8px 6px rgba(52, 109, 213, 0.2), 0px -3px 20px rgba(255,255,255,0.4);
}
</style>
{% endblock %}

